################### WEB SERVER CONFIGURATION ###################
server:
  port: "${PORT:9090}"
spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true

  data:
    mongodb:
      database: "vehicle-solution"
      port: "27017"

################# MAIL CONFIGURATION STARTED ######################
  mail:
    host: smtp.gmail.com
    port: 465
    username: mayanktv951@gmail.com
    password: hxqslyvyzhsgkxlw
################ Others Properties for mail ########################
    properties:
      mail:
        debug: true
        transport:
          protocol: smtp
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          ssl:
            enable: true
############### TLS Port 587 ###########################################
  #        starttls:
  #          enable: true
############### SSL, post 465 #######################################
          #socketFactory:
          #  port: 465
          #  class: javax.net.ssl.SSLSocketFactory
################# MAIL CONFIGURATION CLOSED #######################


################### LOGGING CONFIGURATION ########################
logging:
  level:
    '[org.springframework.cloud.gateway]': INFO


